/* Meu primeiro Comentário */
/* Reset do CSS para o navegador*/ 
*{
    margin: 0;  /* Margem */
    padding: 0;  /* Preenchimento */
} 
/* Corpo do Site */ 
body{
    height: 100%; /* altura */
    width: 100%; /* largura */
    display: flex;
    justify-content: center;
    background: linear-gradient( to bottom right, #9BF2EA, #41BFB3, #323050);
    background-repeat: no-repeat;
}   
/* Logo  */ 
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 200px;
    border-radius: 200px;
    margin-top: 100px;
}

/* Titulo */ 
.name{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #323050;
    font-family: Arial, Helvetica, sans-serif;
}

.redes-sociais{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.redes-sociais a{
    text-decoration: none;
}
.icon{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
    margin: 5px;
    overflow: hidden;
}
.icon, .email{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0px 5px 5px rgb(49, 43, 43);
    margin: 5px;
    overflow: hidden;
}
.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    background-color: #323050;
    color: #ffffff;/* cor do texto*/
    cursor: pointer;
}
icon span a{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 25px;
    color: rgb(47, 107, 107);
    font-size: 17px;
    line-height: 35px;
}

.icon:hover{
    width: 125px;
    background-color: #9BF2EA;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    color: azure;
    background-color: #323050;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}



.subtitulo{
    font-weight: 600; /*peso do  texto ou negrito*/
    color: #323050;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
}
.linguagem{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.linguagem img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 70px;
    margin: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}
.projetos{
    margin-top: 40px;
    flex-direction: column;
}
.item{
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: 1px solid rgbd(63, 197, 246);
    border-radius: 50px;
    width: 570px;
    height: 60px;
    font-size: 20px;
    background:#323050;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
}
.item:hover{
    transition: 0.2s;
    background-color: #2a2843;

}
#movie{
    padding: 15px;
    margin: auto;
    display: none;
    
}
.movie.active{
    display: block;
}
.rodape{
    align-items: center;
    text-align: center ;
    margin-top: 50px;
    margin: 50px;
    color: #ffffff;
} 

/*Recurso CSS que renderiza o conteúdo do site e adapte para diversas resoluções*/
/* resolução 700px */
@media (max-width: 800px) {
        .imagem img {
            width: 150px;
            border-radius: 200px;
            margin-top: 25px;
            
        }
        .texto p{
            width: 180px;
            height: 190px;
            text-align: center;
            margin-top: 10px;
            
        }
        .texto {
            width: 350px;
            height: 200px;
            
            
        }
        .linguagem img{
            width: 165px;
        }
        .subtitulo {
            font-size: 20px;
        }
        .item {
            width: 290px;
            font-size: 15px;
        }
        #movie {
            width: 350px;
        }
}

@media (max-width: 500px) {
    .imagem img{
        width: 150px;
        border-radius: 20px;
        margin-top: 30px;
    }
    .name{
        font-size: 20px;
    }
    
    
    .texto{
        width: 300px;
    }
    .texto p{
        align-items: center;
        font-size: 16px;
        margin-top: 10px;
    }
    .linguagem img{
        width: 130px;
        font-size: 16px;
    }
    .subtitulo {
        font-size: 20px;
    }
    .item {
        width: 200px;
        height: 40px;
        font-size: 15px;
    }
    #movie {
        width: 100px;
    }

}








